{% extends "layout.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 flex-grow-0">
      <h1>Hola!</h1>
      <p>
        Sóc en Bru Cullell Clotet i vaig néixer el 29 de maig del 2020!
      </p>
      <div class="card colored-border mb-3">
        <div class="row no-gutters">
          <img src="{% static "photo1.jpg" %}" alt="Bru" class="mw-100"/>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 flex-grow-0">
      <h1>Què necessito?</h1>

      <p>
        Ja que molts demanàveu a la mama i el papa què necessito, el papa ha fet aquesta web per donar algunes idees de
        coses que creuen que m'agradaran, m'ajudaran a créixer o necessitaré.
      </p>
      <p>
        Tal com estan les coses últimament, als papes els agradaria que tot el que es pugui es compri al comerç local, o
        a petits comerços online. Les joguines, roba i altres coses de la llista són només idees, però si em voleu fer
        més d'un regal que només hi hagi una joguina (sinó no tindré temps de jugar amb tot!).
      </p>
      <p>
        Algunes de les joguines segurament les podreu trobar a:
      </p>
      <ul>
        <li>Girona: Ecològic (C/ Bisbe Lorenzana), La Carpa (Carrer de les Hortes)</li>
        <li>Berga: JugaJoc (C/ Gran Via 78)</li>
      </ul>
      <p>
        Si voleu regalar-me alguna cosa de la llista podeu pitjar el botó perquè els papes es puguin planificar millor.
        Si ho preferiu, els podeu enviar un correu a <a href="mailto:bru.cullell@clotet.dev">bru.cullell@clotet.dev</a>
        o de la manera que hi parleu habitualment (WhatsApp, Telegram, telèfon, etc.).
      </p>
      <p>
        Moltes gràcies!
      </p>

      {% for category in categories %}
        {% if category.product_set.count > 0 %}
          <div class="border-top pt-3 mt-1">
            <h2>
              {% if category.icon %}
                {{ category.icon }}
              {% endif %}
              {{ category.name }}
            </h2>

            {% if category.description %}
              <p>{{ category.description | linebreaks }}</p>
            {% endif %}

            <div class="row row-cols-1 row-cols-md-2">
              {% for product in category.product_set.all %}
                <div class="col-md-6">
                  {% include "product_card.html" %}
                  {% include "reserve_modal.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
