{% with needed=product.needed reserved=product.reserved %}
  <div class="card mb-3"{% if reserved >= needed %} title="Reservat"{% endif %}>
    <div class="row no-gutters">
      {% if product.image_url %}
        {% if product.url %}
          <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}"/>
          </a>
        {% else %}
          <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}"/>
        {% endif %}
      {% endif %}

      <div class="card-body">
        <h3 class="card-title{% if reserved >= needed %} text-secondary" style="text-decoration: line-through{% endif %}">
          {% if product.url %}
            <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">
              {{ product.name }}
            </a>
          {% else %}
            {{ product.name }}
          {% endif %}
        </h3>

        <p class="card-text">{{ product.description | linebreaks }}</p>

        <p class="card-text">
          <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">{{ product.url }}</a>
        </p>

        {% if reserved < needed %}
          {% if product.price %}
            <p class="card-text">{{ product.price }}€</p>
          {% endif %}

          <button class="btn btn-primary btn-block mr-3" data-toggle="modal"
                  data-target="#reserveModal{{ product.id }}">
            T'ho regalarem!
          </button>
        {% endif %}
      </div>
    </div>
  </div>
{% endwith %}
